.root {
  border-bottom: 1px solid lightgrey;
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
  padding: 0 20px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    position: relative;
    
    img {
      height: 45px;
    }
  }

  .navItem {
    border-bottom: 2px solid transparent;
    font-weight: bold;
    text-transform: uppercase;

    &.isActive {
      border-color: var(--brand-color);
    }
  }
}